.about-image{
    width: 30%;
    border-radius: 25px;
    margin-left:20px;
    margin-right : 20px;
}

.about p{
    font-size: calc(10px + 1vmin);
    font-weight: 500;
    color: grey;
    text-align: left;
    width: 95%;
    margin-left: 2.5%;
}
.about-content>p{
    width: 90%;
    margin-left: 0;
}
.aboutHeader{
    display: flex;
}
.about-all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    width: 60%;
}
@media (max-width: 1000px) {
    .about-all{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .about-content{
        width: 90%;
    }
    .about-image{
        width: 90%;
    }
}

.competences h2{
    font-size:calc(10px + 1vmin)!important;;
}
.about-all img{
    border : 10px solid rgba(236, 240,243,0.5)
}

.about-more{
    margin-bottom: 40px;
}
.sub{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
ul{
    list-style-type: none; /* Enlève les puces */
    padding-left: 0; /* Supprime l'indentation interne */
    margin-left: 0;
}

.competences{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.competences h2{
    font-size: 18px;
    color: grey;
}
.competences ul{
    margin-top: -10px;
    height: 400px;
}
.competences li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sub{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}