.about-image{
    width: 30%;
    border-radius: 25px;
    margin-left:20px;
    margin-right : 20px;
}
.about p{
    font-size: 20px;
    font-weight: 500;
    color: grey;
    text-align: left;
    width: 95%;
    margin-left: 2.5%;
}
.about-content>p{
    width: 90%;
    margin-left: 0;
}
.aboutHeader{
    display: flex;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    width: 60%;
}

.about-content img{
    border : 10px solid rgba(236, 240,243,0.5)
}

.about-more{
    margin-bottom: 40px;
}
.about-all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}