.footer{
    background-color: #ecf0f3;
    width: 95%;
    margin-left: 2.5%;
    padding: 10px 0px;
    margin-bottom: 20px;
    border-radius: 15px;
    
}
.footer p{
    font-size: 15px;
    font-weight:600;
}