.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.App-header {
  background-color: #ecf0f3;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.page-content{
  width: 95%;
  background-color: white;
  border-radius: 10px;
  margin-top: 10vh;
  margin-bottom: 20px;
  box-shadow: -1px 1px 10px grey;
}




.button{
  background-color: black;
  height: 5vh;
  display: flex;
  font-size: 5%;
  flex-direction: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding : 0px 10px;
  transition: 0.5s ease-in-out;
  box-shadow: -1px 1px 10px grey;
}

.button:hover{
  box-shadow: 0 0 0 5px lightgrey;
  transition: 0.5s ease-in-out;
}
.button:hover p{
  /* color: black; */
  transition: 0.5s ease-in-out;
}
.button p{
  color: white;
  font-weight: bold;
  font-size: calc(6px + 1vmin);
  width: 100%;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.button-outline{
  background-color: white;
  height: 4.5vh;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding : 0px 10px;
  transition: 0.5s ease-in-out;
  border:2px solid lightgrey;
  box-shadow: -1px 1px 10px grey;
}
/* @media (max-width: 768px) {
    .button-outline {
        display: none;
    }
} */

@media (min-width: 1000px) {
  .page-content{
    margin-top: 13vh;
  }
}

.button-outline:hover{
 box-shadow: 0 0 0 3px lightgrey;
}
.button-outline p{
  color: black;
  font-weight: bold;
  font-size: calc(6px + 1vmin);
  width: 100%;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.ButtonLink{
  text-decoration: none;
}

.buttonIcon{
  margin-left: 5px;
}

.portfolio-title{
  font-size: calc(50px + 1vmin);
  text-align: left;
  margin-left: 40px;
  margin-bottom: -20px;
}

.language-switcher{
  display: flex;
  flex-direction: row;
}
.language-switcher button{
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: calc(10px + 2vmin);
  width: 5vh;
  height: 5vh;
  transition: 0.5s ease-in-out;
}
.language-switcher button:hover{
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}
.selected{
  background-color: #ecf0f3!important;
  border-radius: 100%;
}

.h1{
  font-size:calc(30px + 2vmin)!important;
}

.h2{
  font-size:calc(30px + 2vmin)!important;
}

.p{
  font-size:calc(10px + 2vmin)!important;
}
