.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.App-header {
  background-color: #ecf0f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.button{
  background-color: black;
  height: 40px;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding : 0px 10px;
  transition: 0.5s ease-in-out;
}

.button:hover{
  box-shadow: 0 0 0 5px lightgrey;
  transition: 0.5s ease-in-out;
}
.button:hover p{
  /* color: black; */
  transition: 0.5s ease-in-out;
}
.button p{
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.button-outline{
  background-color: white;
  height: 36px;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding : 0px 10px;
  transition: 0.5s ease-in-out;
  border:2px solid lightgrey;
}

.button-outline:hover{
 box-shadow: 0 0 0 3px lightgrey;
}
.button-outline p{
  color: black;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.ButtonLink{
  text-decoration: none;
}

.buttonIcon{
  margin-left: 5px;
}